* {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif;
}

.chart {
    height: 250px;
    flex: 1;
}

#reset-zoom {
    float: right;
    padding: 1em;
    visibility: hidden;
}

#reset-zoom.visible {
    visibility: visible;
}

.dashboard {
    clear: both;
}

.flex-container {
    display: flex;
    justify-content: center;
}
